{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
<div class="col-lg-6 col-md-8 col-11 mx-auto mt-4 mb-4 p-3 text-center">
    <h2 class="m-3 p-3">Création d'une nouvelle préstation</h2>

    {{ include('service/_form.html.twig') }}

    <a href="{{ path('app_service_index') }}" class="btn btn-lg m-3" id="btn-connexion">Retour à la liste</a>
</div>
{% endblock %}
