/* assets/styles/app.css */

@font-face{
	font-family: 'Crimson';
	  font-style: normal;
	  font-weight: 400;
	  src: url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
}

* {
    box-sizing: border-box;
}

#banner {
    background-color: #D4F1F4;
}

#hours {
    background-color: #05445E;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-logo {
    width : 150px;
    height : 150px;
}

#navbarNav  {
    background-color: #75E6DA;
}

#btn-connexion {
    background-color: #05445E;
    color: white;
}

#reset-filters{
    background-color: #05445E;
    color: white;
}

#contact-form {
    background-color: #189AB4;
    color: white;

}

.form {
    background-color: #75E6DA;
}

.hover {
    color: #75E6DA;
  }

#show-star {
    color: #75E6DA;
    border-color: #05445E;
}

#card-car {
    background-color: #189AB4;
    color: #ffff;
}
